
.rsvp-me-cal-options{
	float:left;
	margin-right: 15px;
	width: 300px;
}
.rsvp-me-cal-sample{
	float:left;
}
.rsvp-me-alert-box{
	display:block;
	width: intrinsic;
	padding: 10px;
}

.success{
	background-color: #5da423;
}

.error, .alert{
	background-color: #c60f13;
}

.icon24{
	width: 48px;
	height: 48px;
	display: inline;
}

#rsvp-me-admin-header h2{
	padding-left: 60px;
	line-height: 48px;
}

.rsvp-me-logo{
	float:left;
}

.tab-panel{
	display:none;
	padding: 1em;
}

#tab-content-0{
	display: block;
}

.rsvp-me-cal-options {
	float:left;
	box-sizing: border-box;
	padding-right: 30px;
}

.rsvp-me-cal-sample {
	float:left;
	max-width: 300px;
}
